<View>
    <Text name="desc" value="Which set of the outputs do you prefer? \nPlease opt based on the following criteria:\n- Quality: If the outputs are paraphrases of the input sentence to a good extent\n- Readability: If the outputs are understadable by humans\n- Novelty: If any one of the outputs has expressed the semantic content of source sentence in a novel way like what we do as humans (e.g. changing the voice from active to passive or vice versa, using different words,  phrases, or sentences that are not present in the source sentence but without changing the meaning considerably)\n- Diversity: if the three outputs are not expressed in the same way using the same words"/>
    <Header value="Input"/>
    <Text name="my_text" value="$input"/>
    
    <Header value="Paraphrase sets:"/>
    <Header value="Set #1"></Header>
    <Text name="opt_1" value="$opt_1"/>
    <Header value="Set #2"></Header>
    <Text name="opt_2" value="$opt_2"/>    
    
    <View>
        <Header value="\nI prefer ..."/>
        <Choices name="best" toName="my_text" choice="single" showInLine="false">
            <Choice value="Set #1" alias="1"/>
            <Choice value="Set #2" alias="2"/>
            <Choice value="both(#1 and #2)" alias="3"/>
        </Choices>
    </View>
    
</View>
