<View>
    <Header value="Input"/>
    <Text name="my_text" value="$input"/>
    
    <Header value="Paraphrase sets:"/>
    <Header value="Set #1"></Header>
    <Text name="opt_1" value="$opt_1"/>
    <Header value="Set #2"></Header>
    <Text name="opt_2" value="$opt_2"/>    
    
    <View>
        <Header value="\nI prefer ..."/>
        <Choices name="best" toName="my_text" choice="single" showInLine="false">
            <Choice value="Set #1" alias="1"/>
            <Choice value="Set #2" alias="2"/>
            <Choice value="both(#1 and #2)" alias="3"/>
        </Choices>
    </View>
    
</View>
