<View>
    <Header value="Please rate the following sentences"/>
    <Text name="my_text" value="$reviewText"/>
    <Text name="rand1" value="Grammatically (Please consider the average score)"/>
    <Choices name="gram" toName="my_text" choice="single-radio" showInLine="false">
      <Choice value="1) Non-sense composition of words and not in the form of human language, e.g. how world war iii world war."/>
      <Choice value="2) Can not understand what it means but it is still in the form of human language, e.g. what is the best movie of movie"/>
      <Choice value="3) Basically fluent and has two or more minor grammatical errors or one serious grammatical error that does not have strong impact on understanding, e.g. what some good book for read"/>
      <Choice value="4) Fluent and has one minor grammatical error that does not affect understanding, e.g. what is the best ways to learn programming"/>
      <Choice value="5) Without any grammatical error"/>
    </Choices>
    <Text name="rand2" value="Coherency (Please consider the average score)"/>
    <Choices name="coh" toName="my_text" choice="single-radio" showInLine="false">
      <Choice value="1) Topic irrelevant or even can not understand what it means."/>
      <Choice value="2) Topic relevant but fail to cover most of the content of source sentence, e.g. what is some tips to learn english →when do you start to learn english"/>
      <Choice value="3) Cover part of the content of source sentence and has serious information loss, e.g. what is the best love movie by wong ka wai → what is the best movie"/>
      <Choice value="4) Basically the same meaning of the source sentence but does not cover some minor content, e.g. what are some good places to visit in hong kong during summer → can you suggest some places to visit in hong kong;"/>
      <Choice value="5) Accurate paraphrase with exact the same meaning of the source sentence"/>
    </Choices>
    <Text name="rand3" value="Diversity"/>
    <Choices name="div" toName="my_text" choice="single-radio" showInLine="true">
      <Choice value="1"/>
      <Choice value="2"/>
      <Choice value="3"/>
      <Choice value="4"/>
      <Choice value="5"/>
    </Choices>
    
</View>
